<!doctype html>
<html lang="cs">
<head>
  {% include "partials/head.njk" %}
</head>
<body>
  {% include "partials/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
  <script src="{{ '/assets/js/site.js' | url }}" defer></script>


</body>
</html>
