<header>
  <h2>TJ Sokol Postoupky</h2>
  <nav>
    <a href="/">Domů</a>
    <a href="/novinky/">Novinky</a>
    <a href="/zapasy/">Zápasy</a>
    <a href="/tym/">Tým</a>
    <a href="/kontakty/">Kontakty</a>
  </nav>
</header>
