<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} | TJ Sokol Postoupky</title>
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">

