<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#6d28d9">
<meta name="google-site-verification" content="86zKGsgc0bBge67Ls9joNvCsIwVxBYxKPsxgAP33nw4">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://www.gstatic.com https://apis.google.com https://unpkg.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https://www.gstatic.com https://*.googleusercontent.com https://img.youtube.com https://i.ytimg.com https://*.fbcdn.net; frame-src https://www.youtube-nocookie.com https://www.facebook.com https://maps.google.com https://accounts.google.com https://*.firebaseapp.com https://*.web.app; connect-src 'self' https://www.gstatic.com https://*.googleapis.com https://*.firebaseio.com https://firestore.googleapis.com https://identitytoolkit.googleapis.com https://securetoken.googleapis.com https://*.firebaseapp.com https://*.web.app https://raw.githubusercontent.com; font-src 'self';">
<title>{{ title }} | TJ Sokol Postoupky</title>
{% include "partials/seo.njk" %}
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
<script>
(function(){var t=localStorage.getItem("theme");if(t)document.documentElement.setAttribute("data-theme",t)})();
</script>

